{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "_variables.html" %}
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="{{ get_url(path="juice.css") }}">
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% block header %}

    <header class="pos-absolute" style="background-color: transparent">
        {{ macros::render_header() }}
    </header>

    <div class="hero">
        {% block hero %}
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <section class="text-center">
            <h1 class="heading-text" style="font-size: 50px">
                Build your static website
            </h1>
            <h3 class="title-text">
                <b>Juice</b> is an intuitive, elegant, and lightweight Zola theme for product websites.
            </h3>
            <div>
                <a class="github-button" href="https://github.com/huhu/juice" data-size="large" data-show-count="true"
                   aria-label="Star huhu/juice on GitHub">Star</a>
                <a class="github-button" href="https://github.com/huhu/juice/fork" data-size="large"
                   data-show-count="true" aria-label="Fork huhu/juice on GitHub">Fork</a>
            </div>
        </section>
        <img class="hero-image" style="width: 50%" src="{{ get_url(path="juice.svg") }}">

        <div class="explore-more text"
            onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            Explore More ⇩
        </div>
        <style>
            .hero section {
                padding: 0 5rem;
            }
            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
        {% endblock hero %}
    </div>

    {% endblock header %}

    <main>
        <div class="content text">
            {% block content %}
            <div id="features" class="heading-text">Overview</div>
            {{ section.content | safe }}
            {% endblock content %}
        </div>

    </main>

    {% block footer %}
    <footer>
        <small class="subtext">
            <a href="https://huhu.io">Huhu.io</a> © 2020
        </small>
    </footer>
    {% endblock footer %}
</body>
</html>